@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary-blue: #00427A;
        --nhn-black: #1B1B1B;
    }

    body {
        font-family: var(--font-noto-sans-kr), var(--font-roboto), sans-serif;
        color: var(--nhn-black);
    }
}

@layer components {
    .font-sans {
        font-family: var(--font-noto-sans-kr), var(--font-roboto), sans-serif;
    }

    .text-primary-blue {
        color: var(--primary-blue);
    }

    .nav-link {
        position: relative;
        padding: 0 4px;
        transition: color 0.3s;
    }

    .nav-link::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -28px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--primary-blue);
        transition: width 0.3s ease-in-out;
    }

    .nav-item:hover .nav-link {
        color: var(--primary-blue);
    }

    .nav-item:hover .nav-link::after {
        width: 100%;
    }

    .scrollbar-hide {
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none; /* WebKit */
    }

    .fade-in {
        opacity: 1 !important;
        transform: translateY(0);
        transition: opacity 1s, transform 1s;
    }

    .opacity-0 {
        opacity: 0 !important;
        transform: translateY(40px);
    }

    .slide-left-in {
        opacity: 1 !important;
        transform: translateX(0);
        transition: opacity 1s, transform 1s;
    }

    .slide-left-init {
        opacity: 0 !important;
        transform: translateX(-60px);
    }

    .slide-right-in {
        opacity: 1 !important;
        transform: translateX(0);
        transition: opacity 1s, transform 1s;
    }

    .slide-right-init {
        opacity: 0 !important;
        transform: translateX(60px);
    }

    .zoom-in {
        opacity: 1 !important;
        transform: scale(1);
        transition: opacity 1s, transform 1s;
    }

    .zoom-init {
        opacity: 0 !important;
        transform: scale(0.8);
    }

    .rotate-in {
        opacity: 1 !important;
        transform: rotate(0deg) scale(1);
        transition: opacity 1s, transform 1s;
    }

    .rotate-init {
        opacity: 0 !important;
        transform: rotate(-8deg) scale(0.8);
    }

    @media (max-width: 640px) {
        .slide-left-init,
        .slide-right-init,
        .zoom-init,
        .rotate-init,
        .opacity-0 {
            transform: none !important;
            opacity: 0 !important;
        }

        .slide-left-in,
        .slide-right-in,
        .zoom-in,
        .rotate-in,
        .fade-in {
            transform: none !important;
            opacity: 1 !important;
        }
    }
}
